<div class="container">
  <section>
    <div class="top_content">
      <h1>アレルギー対策レシピ<br>
          Allergy Avoid Recipe
      </h1>
    </div>
  </section>
</div>

<div class="top_image">
  <img src="<%= asset_path('top_image.jpg') %>">
  <div class="sign_up">
    <h2 class="top_content"><strong>安心して食事をするために</strong></h2>
    <h4><strong>アレルギー食材を除いてレシピを検索できる</h4></strong>
    <!-- <a href="<%= new_user_path %>"<button class="btn btn-info btn-lg">Sign up</button></a>-->
    <br>
    <h4>Let's Cooking!!</h4>
  </div>
  <!--
  <div class="log_in">
    <a href="<%= new_user_path %>"<button class="btn btn-info btn-lg">Log in</button></a>
  </div>
-->

</div>
